[mysqld]

skip-external-locking
skip_name_resolve
skip-host-cache

key_buffer_size         = 128M
max_allowed_packet      = 64M
table_open_cache        = 3000
sort_buffer_size        = 64M
net_buffer_length       = 8K
read_buffer_size        = 64M
read_rnd_buffer_size    = 64M
myisam_sort_buffer_size = 8M

innodb_buffer_pool_size           = 800M
#innodb_additional_mem_pool_size  = 200M
innodb_log_file_size              = 40M
innodb_log_buffer_size            = 8M
innodb_flush_log_at_trx_commit    = 0
innodb_lock_wait_timeout          = 50


max_connections=100000
wait_timeout = 172800
interactive_timeout = 172800
max_connect_errors = 4294967295
connect_timeout = 20
net_read_timeout = 30
net_write_timeout = 60

max_prepared_stmt_count = 1048576

query_cache_type = 0

[mysqldump]
quick
max_allowed_packet = 64M

[mysql]
no-auto-rehash
# Remove the next comment character if you are not familiar with SQL
#safe-updates

[myisamchk]
key_buffer_size = 128M
sort_buffer_size = 128M
read_buffer = 64M
write_buffer = 64M

[mysqlhotcopy]
interactive-timeout